.field-item {
  // border:2px solid #009900;
  float:left;
  margin-left:1.875em;
}

.button-item {
  cursor: pointer;
}

.hand-cursor {
  cursor: pointer;
}

.ml-3 {
  margin-left: 3em;

}

.sm-height {
  height: 2em;
}

.red-icon {
  color: red;
}
.red-icon svg {
  fill: red;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 2em;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
