<ul>
  <mat-chip color="accent" class="button-item" selected (click)="addStaticGroupItems()">
    <i class="material-icons hand-cursor">add_shopping_cart</i><span>Add Groups</span>
  </mat-chip>
</ul>

<mat-divider></mat-divider>
<div class="sm-height"></div>

<div *ngIf="!data">No group item data available</div>

<div *ngIf="errorMessage" class="alert">
  {{errorMessage}}
</div>


<div *ngFor="let group of data.groups | keyvalue">
  <div class="field-item">
    <mat-form-field>
      <input type="number" matInput [id]="group.key" #grpValue placeholder="{{group.key.toUpperCase()}}">
    </mat-form-field>
  </div>
  <div>
    <mat-chip-list>
      <mat-chip color="primary" class="button-item" selected (click)="updateItems(group.key, grpValue.value)">Update
      </mat-chip>
      <i class="material-icons hand-cursor red-icon" (click)="removeGroupAndItems(group.key)">remove_shopping_cart</i>
    </mat-chip-list>
  </div>

  <p class="ml-3">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of group.value">
        <i class="material-icons hand-cursor red-icon"
           (click)="removeGroupItem(group.key, item)">remove_shopping_cart</i>
        <!--{{data.items[item] | number}} : {{item | titlecase}}-->
        <mat-chip>{{data.items[item] | number}} : {{item | titlecase}}</mat-chip>

      </mat-list-item>
    </mat-list>
  </p>
</div>
