.example-card {
  max-width: 20.000em;
}

.wrapper {
  padding-left: 10px;
  border : 2px solid #000;
  overflow:hidden;
}

.wrapper div {
  min-height: 200px;
  padding: 10px;
}
#one {
  background-color: #c8c8c8;
  float:left;
  margin-left:20px;
  width:400px;
  border-left:2px solid #000;
  border-top:2px solid #000;
  border-right:2px solid #000;
}
#two {
  overflow:hidden;
  width:400px;
  margin-left:20px;
  min-height:170px;
  border-left:2px solid #000;
  border-top:2px solid #000;
  border-right:2px solid #000;
}

@media screen and (max-width: 400px) {
  #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;
  }
}
