<div class="wrapper">
  <h3>App Component</h3>
  <div id="one">
    <app-first-component></app-first-component>
  </div>
  <div id="two">
    <app-second-component></app-second-component>
  </div>
</div>

