<mat-card class="example-card">
  <h3>First Component</h3>
  <mat-card-content>
    <app-item-groups [data]="data" [newGroup]="newGroup" [newItems]="newItems"></app-item-groups>
  </mat-card-content>
</mat-card>
